<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test Suite">

    <test name = "Tests" preserve-order="false">
    
        <parameter name = "platformVersion"   		value = "7.0" />
        <parameter name = "deviceName" 				value = "SM-N9208" />
        <parameter name =  "userName" 				value = "" />
        <parameter name =  "password" 			    value = "" />
        <groups>
            <run>
                <include name = "tests" />
            </run>
        </groups>
        <packages>
            <package name="demo.*" />
        </packages>
    </test>
</suite>
