<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test Suite">

    <test name = "Tests" preserve-order="false">
    
        <parameter name = "platformVersion"   		value = "7.0" />
        <parameter name = "deviceName" 				value = "SM-N9208" />
        <parameter name = "appPackage"   			value = "com.maersk.trackandtrace.maerskline" />
        <parameter name = "appActivity" 				value = "com.maersk.trackandtrace.ui.main.splash.SplashActivity" />
        <groups>
            <run>
                <include name = "schedule_tests" />
            </run>
        </groups>
        <packages>
            <package name="demo.*" />
        </packages>
    </test>
</suite>
 